 <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Send money to anyone, anywhere.">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Flathub</title>
	

	<!-- STYLESHEETS-->
	<link rel="stylesheet" type="text/css" href="libraries/bootstrap/css/bootstrap.min.css">

	<!-- CUSTOM STYLES -->
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	<link rel="stylesheet" type="text/css" href="assets/css/index.css">
	<link rel="stylesheet" type="text/css" href="assets/css/checkbox.css">

	<!-- WEBFONT -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">

	<!-- ICON -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- sweet alert -->
	
</head>
<body>


	<header>
		<nav class="navbar navbar-default h-60 mh-100p m-b-0 bg-white border-bottom twidth-824" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand m-l-32 m-t-0 h-36 f-40 c-bck" href="index.html"><p class="flat">Flat<span class="c-grey">Hub</span></p></a>
				</div>
		
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse p-t-10">
					<ul class="nav navbar-nav navbar-right f-1">
						<li><a href="our_apartment2.html">Our apartment</a></li>
						<li><a href="list_apartment.html" class="">List apartment</a></li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle bg-trans c-brown" data-toggle="dropdown">Tobi Ademola <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li><a href="#">Sign out</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</nav>

		<div class="navbar m-b-0">
			<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<ul class="nav navbar-nav">
							<li class="p-l-40 mp-l-0 active c-brown">
								<a href="about.html">About us</a>
							</li>
							<li class="p-l-40 mp-l-0 ">
								<a href="contact.html">Contact us</a>
							</li>

							<li class="p-l-40 mp-l-0 ">
								<a href="faqs.html">Faq's</a>
							</li>
							<li class="p-l-40 mp-l-0 ">
								<a href="payment.html">Payment plan</a>
							</li>
							<li class="p-l-40 mp-l-0">
								<a href="term.html">Terms of use</a>
							</li>
						</ul>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</header>

	<section>
		<div>
			<img src="assets/img/header@2x(5).png" class="img-responsive">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10 bd-brandf m-t-5p p-40">
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<h3 class="text-center">About us</h3>
							<hr>
							<p class="">FlatHub provides classy co-living spaces for individuals at affordable rates. Our platform puts your comfort first by enabling sustainable lifestyles through efficient use of resources and affordability. Built on the values of community interaction, we create a home environment that inspires and empowers its residents by helping you ease off the stress involved with real estate and allowing you bask in the beauty and goodness of shared housing.  We believe to live luxuriously, you don’t have to run out of cash! Join us now and find your perfect apartment.</p>

							<div class="row m-t-20">
								<div class="col-md-4"></div>
								<div class="col-md-4">
									<a href="" ><p class="width-100p h-35 bg-brown no-bd c-white bd-4 text-center f-18 p-t-3">Get Started</p></a>
									<!-- <button class="bg-brown h-35 no-bd c-white bd-4" name="">Get Started</button> -->
									<br>
								</div>
								<div class="col-md-4"></div>
							</div>
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</section>

	
	<footer class="nb-footer">
		<div class="container">
			<div class="row m-t-62">
				<div class="col-md-5 col-sm-12">
					<p class="c-white">Get exclusive update about our new apartment</p>
					<form class="">
						<div class="row">
							<div class="col-md-7">
								<div class="form-group">
									<input type="input" name="" id="input" class="form-control width-265 mwidth-100" value="" title="" placeholder="email">
								</div>
							</div>
							<div class="col-md-5">
								<button type="submit" class="h-35 bgc f-16 w-500 no-bd c-white bd-4 mwidth-100 width-130 text-center" name="">Subscribe</button>
							</div>
						</div>
					</form>
				</div>

				
				<div class="col-md-7 col-sm-12 ">
					<div class="row footer-info-single">
						<div class="col-md-4">
							<a href="about.html"><p class="">About Us</p></a>

							<a href="contact.html"><p class="">Contact us</p></a>

							<a href="faqs.html"><p class="">Faq's </p></a>
						</div>

						<div class="col-md-4">
							<p>
								<a href="payment.html">Payment structure</a>
							</p>
							<p class=""><a href=""><span> Terms of Use</span></a>
							</p>
						</div>

						<div class="col-md-4">
							<p class="">Follow us on 
								<span class=""><a href="http://fb.com/FlatHubNG" target="_blank"><i class="p-l-10 c-white fa fa-facebook-square fa-lg"></i> <a href=""><i class="c-white p-l-10 fa fa-twitter fa-lg"></i></a> <a href=""><i class="c-white p-l-10 fa fa-instagram fa-lg"></i></a></span>
							</p>

						</div>
					</div>
				</div>
			</div>

			<p class="text-center m-t-112" style="color: #d1c8c8;">&copy;<a href="">FlatHub.ng</a></p>
		</div>
	</footer>
	

	<script type="text/javascript" src="libraries/bootstrap/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="libraries/bootstrap/js/jquery.min.js"></script>
	<script src="libraries/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/fqshowhide.js"></script>
	

</body>
</html>