 <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Send money to anyone, anywhere.">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Flathub</title>
	

	<!-- STYLESHEETS-->
	<link rel="stylesheet" type="text/css" href="libraries/bootstrap/css/bootstrap.min.css">

	<!-- CUSTOM STYLES -->
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	<link rel="stylesheet" type="text/css" href="assets/css/index.css">
	<link rel="stylesheet" type="text/css" href="assets/css/checkbox.css">

	<!-- WEBFONT -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">

	<!-- ICON -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- sweet alert -->
	
</head>
<body>


	<header>
		<nav class="navbar navbar-default h-60 mh-100p m-b-0 bg-white border-bottom twidth-824" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand m-l-32 m-t-0 h-36 f-40 c-bck" href="index.html"><p class="flat">Flat<span class="c-grey">Hub</span></p></a>
				</div>
		
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse p-t-10">
					<ul class="nav navbar-nav navbar-right f-1">
						<li><a href="our_apartment2.html">Our apartment</a></li>
						<li><a href="list_apartment.html" class="">List apartment</a></li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle bg-trans c-brown" data-toggle="dropdown">Tobi Ademola <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li><a href="#">Sign out</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</nav>

		<div class="navbar m-b-0">
			<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<ul class="nav navbar-nav">
							<li class="active c-brown">
								<a href="user_profile_listing.html">Listings</a>
							</li>
							<li class="p-l-45 mp-l-0">
								<a href="viewing_request.html">Viewing requests</a>
							</li>
							<li class="p-l-45 mp-l-0 ">
								<a href="booking_request.html">Booking requests</a>
							</li>

							<li class="p-l-45 mp-l-0">
								<a href="transaction.html">Transactions</a>
							</li>
						</ul>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</header>

	<hr class="m-t-0">


	<section>
		<ol class="breadcrumb bg-trans">
		  <li class="bgyco"><a href="#">Listins</a></li>
		  <li class="active c-brown">Add a listing</li>
		</ol>
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10 bd-brandf ">
					<form action="add_listing6.html">
						<div class="row">
							<div class="col-md-1"></div>
							<div class="col-md-10">
								<h3 class="">What amenities does your place have?</h3>
								<div class="row">
									<div class="col-md-5">
										<div class="">
									<div class="checkbox m-t-20">
										<input type="checkbox" id="check1">
										<label for="check1">
											<span class="p-l-10"> Air conditioning</span>
										</label>
									</div>

									<div class="checkbox m-t-20">
										<input type="checkbox" id="check2">
										<label for="check2">
											<span class="p-l-10"> Cable TV</span>
										</label>
									</div>

									<div class="checkbox m-t-20">
										<input type="checkbox" id="check3">
										<label for="check3">
											<span class="p-l-10"> Desk (Workspace)</span>
										</label>
									</div>

									<div class="checkbox m-t-20">
										<input type="checkbox" id="check4">
										<label for="check4">
											<span class="p-l-10"> Dryer</span>
										</label>
									</div>

									<div class="checkbox m-t-20">
										<input type="checkbox" id="check5">
										<label for="check5">
											<span class="p-l-10"> Elevator</span>
										</label>
									</div>

									<div class="checkbox m-t-20">
										<input type="checkbox" id="check6">
										<label for="check6">
											<span class="p-l-10"> Furniture</span>
										</label>
									</div>

									<div class="checkbox m-t-20">
										<input type="checkbox" id="check7">
										<label for="check7">
											<span class="p-l-10"> Gym</span>
										</label>
									</div>

									<div class="checkbox m-t-20">
										<input type="checkbox" id="check8">
										<label for="check8">
											<span class="p-l-10"> Parking</span>
										</label>
									</div>

									<div class="checkbox m-t-20">
										<input type="checkbox" id="check9">
										<label for="check9">
											<span class="p-l-10"> Pool</span>
										</label>
									</div>

									<div class="checkbox m-t-20">
										<input type="checkbox" id="check10">
										<label for="check10">
											<span class="p-l-10"> Refrigerator</span>
										</label>
									</div>

									<div class="checkbox m-t-20">
										<input type="checkbox" id="check11">
										<label for="check11">
											<span class="p-l-10"> Stable power</span>
										</label>
									</div>

									<div class="checkbox m-t-20">
										<input type="checkbox" id="check12">
										<label for="check12">
											<span class="p-l-10"> TV</span>
										</label>
									</div>

									<div class="checkbox m-t-20">
										<input type="checkbox" id="check13">
										<label for="check13">
											<span class="p-l-10"> Washing machine</span>
										</label>
									</div>

									<div class="checkbox m-t-20">
										<input type="checkbox" id="check14">
										<label for="check14">
											<span class="p-l-10"> Wheelchair accessble</span>
										</label>
									</div>

									<div class="checkbox m-t-20">
										<input type="checkbox" id="check15">
										<label for="check15">
											<span class="p-l-10"> Wifi</span>
										</label>
									</div>

									<div class="checkbox m-t-20">
										
										<input type="checkbox" id="check16">
										<label for="check16">
											<span class="p-l-10"> 24/7 security</span>
										</label>
									</div>
								</div>
									</div>
									<div class="col-md-7"></div>	
								</div>
							</div>
							<div class="col-md-1"></div>
						</div>

						<div class="row m-t-30 m-b-30">
							<div class="col-md-1"></div>
							<div class="col-md-10">
								<div class="row">
									<div class="col-md-3">
										<a href="add_listing4.html" type="button" class="bg-white f-16 w-500  c-brown bd-brandb bd-4 text-center width-100p dis-inline-b" name="">Back</a>
									</div>
									<div class="col-md-3 mm-t-8">
										<button type="submit" class="bg-brown f-16 w-500 no-bd c-white bd-4 text-center width-100p" name="">Next</button>
									</div>
									<div class="col-md-6"></div>	
								</div>
							</div>
							<div class="col-md-1"></div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</section>

	
	<footer class="nb-footer">
		<div class="container">
			<div class="row m-t-62">
				<div class="col-md-5 col-sm-12">
					<p class="c-white">Get exclusive update about our new apartment</p>
					<form class="">
						<div class="row">
							<div class="col-md-7">
								<div class="form-group">
									<input type="input" name="" id="input" class="form-control width-265 mwidth-100" value="" title="" placeholder="email">
								</div>
							</div>
							<div class="col-md-5">
								<button type="submit" class="h-35 bgc f-16 w-500 no-bd c-white bd-4 mwidth-100 width-130 text-center" name="">Subscribe</button>
							</div>
						</div>
					</form>
				</div>

				
				<div class="col-md-7 col-sm-12 ">
					<div class="row footer-info-single">
						<div class="col-md-4">
							<a href="about.html"><p class="">About Us</p></a>

							<a href="contact.html"><p class="">Contact us</p></a>

							<a href="faqs.html"><p class="">Faq's </p></a>
						</div>

						<div class="col-md-4">
							<p>
								<a href="payment.html">Payment structure</a>
							</p>
							<p class=""><a href=""><span> Terms of Use</span></a>
							</p>
						</div>

						<div class="col-md-4">
							<p class="">Follow us on 
								<span class=""><a href="http://fb.com/FlatHubNG" target="_blank"><i class="p-l-10 c-white fa fa-facebook-square fa-lg"></i> <a href=""><i class="c-white p-l-10 fa fa-twitter fa-lg"></i></a> <a href=""><i class="c-white p-l-10 fa fa-instagram fa-lg"></i></a></span>
							</p>

						</div>
					</div>
				</div>
			</div>

			<p class="text-center m-t-112" style="color: #d1c8c8;">&copy;<a href="">FlatHub.ng</a></p>
		</div>
	</footer>
	

	<script type="text/javascript" src="libraries/bootstrap/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="libraries/bootstrap/js/jquery.min.js"></script>
	<script src="libraries/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/fqshowhide.js"></script>
	

</body>
</html>