 <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Send money to anyone, anywhere.">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Flathub</title>
	

	<!-- STYLESHEETS-->
	<link rel="stylesheet" type="text/css" href="libraries/bootstrap/css/bootstrap.min.css">

	<!-- CUSTOM STYLES -->
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	<link rel="stylesheet" type="text/css" href="assets/css/index.css">
	<link rel="stylesheet" type="text/css" href="assets/css/checkbox.css">

	<!-- WEBFONT -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">

	<!-- ICON -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- sweet alert -->
	
</head>
<body>


	<header>
		<nav class="navbar navbar-default h-60 mh-100p m-b-0 bg-white border-bottom twidth-824" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle bg-black" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand m-l-32 m-t-0 h-36 f-40 c-bck" href="index.html"><p class="flat">Flat<span class="c-grey">Hub</span></p></a>
				</div>
		
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse p-t-10">
					<ul class="nav navbar-nav navbar-right f-1 bg-white">
						<li><a href="our_apartment2.html">Our apartment</a></li>
						<li><a href="list_apartment.html" class="">List apartment</a></li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle bg-trans c-brown" data-toggle="dropdown">Tobi Ademola <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li><a href="#">Sign out</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</nav>

		<div class="navbar m-b-0">
			<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<ul class="nav navbar-nav bg-white">
							<li class="p-l-40 mp-l-0">
								<a href="about.html">About us</a>
							</li>
							<li class="p-l-40 mp-l-0">
								<a href="contact.html">Contact us</a>
							</li>

							<li class="p-l-40 mp-l-0 active c-brown">
								<a href="faqs.html">Faq's</a>
							</li>
							<li class="p-l-40 mp-l-0">
								<a href="payment.html">Payment plan</a>
							</li>
							<li class="p-l-40 mp-l-0">
								<a href="term.html">Terms of use</a>
							</li>
						</ul>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</header>

	<section>
		<div>
			<img src="assets/img/header@2x(3).png" class="img-responsive">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10 bd-brandf m-t-5p p-40">
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<h3 class="text-center">Frequently asked questions</h3>
							<hr>
							<!-- Application -->
							<h2 class="">Application</h2>
								<p class="m-t-24 w-800">How do i view the apartment i like? <i class="fa fa-angle-down c-brown" id="apfq1" style="cursor: pointer;"></i></p>

								<p  style="display: none;" id="apfq11">When you select the apartment of your choice, if available, click on Book a viewing, fill in your perfect time to view the apartment, our team will get  back to you within 24hours.</p>

								<p class="m-t-24 w-800 ">How do I apply? <i class="fa fa-angle-down c-brown" id="apfq2" style="cursor: pointer;"></i></p>

								<p style="display: none;" id="apfq22">After viewing your preferred apartment, visit the website, click on Book Now, fill in your details in the form provided,</p>

								<p class="m-t-24 w-800 ">After applying, how long do I wait before getting a feedback? <i class="fa fa-angle-down c-brown" id="apfq3" style="cursor: pointer;"></i></p>

								<p style="display: none;" id="apfq33">24 - 48 hours after applying</p>

							<!-- contract -->
							<h2 class="">Contract</h2>
								<p class="m-t-24 w-800">Can I change my flat option to another after payment? <i class="fa fa-angle-down " id="cfq1" style="cursor: pointer;"></i></p>

								<p  style="display: none;" id="cfq11">No, you can’t. View our terms and conditions for more details.</p>

								<p class="m-t-24 w-800">Can I extend my contract? <i class="fa fa-angle-down c-brown" id="cfq2" style="cursor: pointer;"></i></p>

								<p style="display: none;" id="cfq22">Yes, you can. Contract extension is done alongside payment of monthly rent.</p>

								<p class="m-t-24 w-800">Can I stay beyond the end date of my contract? <i class="fa fa-angle-down c-brown" id="cfq3" style="cursor: pointer;"></i></p>

								<p style="display: none;" id="cfq33">No, non-payment of monthly rental as at when due leads to immediate eviction.</p>

								<p class="m-t-24 w-800">Can I leave before the end date of  my contract? <i class="fa fa-angle-down c-brown" id="cfq4" style="cursor: pointer;"></i></p>

								<p style="display: none;" id="cfq44">Yes, you can</p>

								<p class="m-t-24 w-800">Can I terminate / cancel my contract after payment? <i class="fa fa-angle-down c-brown " id="cfq5" style="cursor: pointer;"></i></p>

								<p style="display: none;" id="cfq55">Occupants who wish to cancel their contract even after payment have to give a 30 days notification to management and pay a service charge of 10%.</p>

							<!-- Facilities -->
							<h2 class=" mm-t-0 tc">Facilities</h2>


								<p class=" m-t-24 w-800 ">Can I move in with my own furnitures/ decorations? <i class="fa fa-angle-down c-brown" id="ffq1" style="cursor: pointer;"></i></p>

								<p  style="display: none;" id="ffq11">This is dependent on if your choice apartment is furnished or not. We do not take  responsibilities for any damage done to your personal furnitures and co.</p>

								<p class="m-t-24 w-800">Can I have guests over? <i class="fa fa-angle-down c-brown" id="ffq2" style="cursor: pointer;"></i></p>

								<p style="display: none;" id="ffq22">Yes, you can,while putting into consideration the comfort of your flatmates. You get to bear the risks and consequences for any damage done by your guest(s)</p>

								<p class="m-t-24 w-800">Can I bring in pets? <i class="fa fa-angle-down c-brown" id="ffq3" style="cursor: pointer;"></i></p>

								<p style="display: none;" id="ffq33">This is dependent on the house location and rules.</p>

								<p class="m-t-24 w-800">Who pays the utility bills e.g PHCN bill? <i class="fa fa-angle-down c-brown" id="ffq4" style="cursor: pointer;"></i></p>

								<p style="display: none;" id="ffq44">We take care of all that to relief you the stress.</p>

								<p class="m-t-24 w-800">Am I allowed to smoke within the house? <i class="fa fa-angle-down c-brown" id="ffq5" style="cursor: pointer;"></i></p>

								<p class="" style="display: none;" id="ffq55">Do I need to bother about street regulations? E.g No entrance from 10pm etc</p>
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</section>

	

	<footer class="nb-footer">
		<div class="container">
			<div class="row m-t-62">
				<div class="col-md-5 col-sm-12">
					<p class="c-white">Get exclusive update about our new apartment</p>
					<form class="">
						<div class="row">
							<div class="col-md-7">
								<div class="form-group">
									<input type="input" name="" id="input" class="form-control width-265 mwidth-100" value="" title="" placeholder="email">
								</div>
							</div>
							<div class="col-md-5">
								<a href="" type="submit" class="h-35 bg-brown f-16 w-500 no-bd c-white bd-4 mwidth-100 width-130 text-center dis-inline-b p-t-5" name="">Subscribe</a>
							</div>
						</div>
					</form>
				</div>

				
				<div class="col-md-7 col-sm-12 ">
					<div class="row footer-info-single">
						<div class="col-md-4">
							<a href="about.html"><p class="">About Us</p></a>

							<a href="contact.html"><p class="">Contact us</p></a>

							<a href="faqs.html"><p class="">Faq's </p></a>
						</div>

						<div class="col-md-4">
							<p>
								<a href="payment.html">Payment structure</a>
							</p>
							<p class=""><a href="term.html"><span> Terms of Use</span></a>
							</p>
						</div>

						<div class="col-md-4">
							<p class="">Follow us on 
								<span class=""><a href="http://fb.com/FlatHubNG" target="_blank"><i class="p-l-10 c-white fa fa-facebook-square fa-lg"></i> <a href=""><i class="c-white p-l-10 fa fa-twitter fa-lg"></i></a> <a href=""><i class="c-white p-l-10 fa fa-instagram fa-lg"></i></a></span>
							</p>

						</div>
					</div>
				</div>
			</div>

			<p class="text-center m-t-112" style="color: #d1c8c8;">&copy;<a href="">FlatHub.ng</a></p>
		</div>
	</footer>
	

	<script type="text/javascript" src="libraries/bootstrap/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="libraries/bootstrap/js/jquery.min.js"></script>
	<script src="libraries/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/fqshowhide.js"></script>
	

</body>
</html>